
table {
  border-collapse: collapse;
}

td {
  margin: 0;
  padding: 3px;
  min-width: 100px;
}

tr {
  border-top: 2px solid #333;
}

th {
  white-space: pre;
}


.cell-skill-tested {
  font-size: 14px;
}

.cell-points-awarded {
  text-align: center;
}

.cell-points {
  text-align: center;
  border-radius: 10rem;
  border: 2px solid #ccc;
  width: 40px;
  height: 40px;
  justify-content: center;
  line-height: 2.25;
}

.cell-comments {
  font-size: 14px;
}